.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  background-color: darkgrey;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 15px;
}

.active-btn {
  background-color: #008B8B;
  font-weight: bold;
  color: white;
  border: 2px solid grey;
  border-radius: 2px;
}

.active-task {
  opacity: 0.5;
  text-decoration: line-through;
}